body {
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    margin-top: 1.5rem;

    padding: 10px 20px;
    cursor: pointer;
}
buton:hover{
    border: 3px solid black;
    background: #000;
    color: white;
}